
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <img src="~/Images/download.jpg" class="logo" alt="logo" />
    <h1>Welcome to Book Store Application!!!</h1>
    <h1>@DateTime.Now</h1>
    @{
        int a = 10;
        int b = 20;
        int c = a + b;
    }

    <h1>@c</h1>

    <h1>Email-pawarrahul@gmail.com</h1>
    <h1>Insta-@@Dzire4912</h1>
</body>
</html>
